@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Zeyada&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #232126;
}

.main-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("images/1.jpg");
  background-attachment: fixed;
  height: 100vh;
}

section h1 {
  color: #e3e1d4;
  font-size: 50px;
}
section h1 span {
  color: rgb(38, 188, 38);
}
main {
  min-height: 100vh;
  padding-top: 300px;
  text-align: center;
}

form {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.243);
  border: 1px solid black;
  padding: 10px;
  width: 330px;
  height: 310px;
  outline: none;
}

form:hover {
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 150px 150px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
form input,
textarea {
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  background-color: #e3e1d4;
}

form input:focus,
textarea:focus {
  outline: none;
}

form button {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #e3e1d4;
}
form button:hover {
  cursor: pointer;
  background-color: #e3e1d4bf;
  transition: 0.5s;
}
form img {
  height: 200px;
}

textarea {
  margin-top: 5px;
  height: 200px;
  width: 300px;
  resize: none;
}
form input[name="name"],
form input[name="email"] {
  width: 148px;
}

footer {
  text-align: center;
  color: #e3e1d4;
  padding: 10px;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.399);
  border-top: 1px solid black;
}

.expand {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  z-index: 1;
}
.expand i {
  font-size: 50px;
}
.expand i:hover {
  transition: 0.4s;
  color: rgba(0, 0, 0, 0.683);
}
.expand i:active {
  transform: rotate(180deg);
}
.expand-banner.show {
  visibility: visible;
}
.expand-banner {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.178);
  color: black;
}
.expand-banner a {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  z-index: 100;
}
.expand-banner a:hover {
  color: black;
}

.banner {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #69696931;
  color: #e3e1d4;
  padding: 0px 100px 0px 100px;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.logo a {
  font-family: "Zeyada", cursive;
  cursor: pointer;
  text-decoration: none;
  color: #e3e1d4;
  font-size: 30px;
}
.links a {
  margin-right: 20px;
  text-decoration: none;
  color: #e3e1d4;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}

.links a:hover {
  color: rgba(255, 255, 255, 0.595);
  border-bottom: 1px solid rgb(38, 188, 38);
  transition: 0.5s;
}

.main h1 {
  color: rgb(38, 188, 38);
  font-size: 60px;
  transition: 5s;
}
.main h1:hover {
  transform: scale(0.6);
  transition: 3s;
  cursor: none;
}
.main h5 {
  color: #e3e1d4;
  font-size: 30px;
  pointer-events: none;
}

.main p {
  margin: auto;
  width: 600px;
  margin-top: 50px;
  color: #e3e1d4;
  pointer-events: none;
}
.main span {
  color: #e3e1d4;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.resume a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  background-color: #e3e1d4;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid black;
}
.resume a:hover {
  transition: 0.5s;
  color: black;
  cursor: pointer;
  background-color: #e3e1d49f;
}
.resume i {
  color: black;
  font-size: 15px;
  margin-right: 5px;
}

.projects {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("images/1.jpg");
  background-attachment: fixed;
  padding: 100px 150px 50px 150px;
  min-height: 100vh;
  text-align: center;
}
.projects h1 {
  margin-bottom: 20px;
}

.project-container {
  width: 535px;
  height: 302px;
  position: relative;
  border: 1px solid grey;
  border-radius: 5px;
}
.project-image {
  width: 200px;
  height: 300px;
}

.project-image img {
  width: auto;
  height: 100%;
  border-radius: 5px;
}
.project-box {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 3fr);
  gap: 20px;
}

.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.554);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.6s;
  cursor: default;
}
.content:hover {
  opacity: 1;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spans {
  margin-top: 30px;
}

.spans span {
  padding: 10px;
  border: 1px solid #e3e1d4;
  color: #e3e1d4;
  margin-right: 10px;
}

.buttons {
  margin-top: 20px;
}
.buttons button {
  color: white;
  background-color: black;
  padding: 15px;
  width: 150px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.buttons button:hover {
  transition: 0.5s;
  color: black;
  background-color: #e3e1d4;
  cursor: pointer;
}
.about {
  padding-top: 100px;
  min-height: 50vh;
  text-align: center;
  color: white;
}
.about p {
  margin: auto;
  width: 600px;
}
.about img {
  padding: 20px 0 50px 0;
  height: 300px;
  transition: 10s;
}
.about img:hover {
  transition: 2s;
  transform: rotate(120deg);
}

.contact {
  padding-top: 10px;
  min-height: 10vh;
  text-align: center;
}
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 50%;
  top: 50%;
}
.socials i {
  font-size: 50px;
  padding: 8px;
  color: #e3e1d463;
  transition: 0.9s;
}

.socials i:hover {
  transition: 0.9s;
  cursor: pointer;
  color: #e3e1d4;
  margin-left: 50px;
  transform: scale(1.1);
}
footer {
  margin-top: 20px;
  min-height: 5vh;
}

/* MOBILE */
@media (width < 1065px) {
  .banner {
    display: none;
  }
  .projects .container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 550px;
  }
  .title-container {
    text-align: center;
  }
  .projects .preview img {
    text-align: center;
  }
  .contact {
    display: none;
  }
}
@media (width > 1065px) {
  .expand {
    display: none;
  }
}

@media (width < 641px) {
  .projects .container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 250px;
  }
  .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 0;
  }
}
